.header {
  background-color: grey;
  min-height: 400px;
  padding: 180px 20px;
  padding-bottom: 140px;
}

.header-text {
  color: white;
  margin-bottom: 20px;
}

h1.header-text {
  font-size: 75px;
}

h3.header-text {
  font-size: 30px;
}
