.img-fluid {
  margin: 25px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 170px;
  width: 170px;
  object-fit: cover;
}

.img-fluid:hover {
  transform: scale(1.05);
  transition: 0.1s;
  cursor: pointer;
}
